.table2{
	width: 100%;
	border: 6px solid gray;
	background-color: black;
	color: white;
}

.table2 tr{
	text-align: center;
	margin: 10px;
	width: 50%;
	
}

.table2 tr:hover{
	background-color: gray;
}

