
.main{
	width: 50%;
	display: inline-block;
}
.squareRed{
	background-color: red;
	width: 40%;
	height: 180px;
	display: inline-block;
}
.squareWhite{
	background-color: white;
	height: 140px;
	width: 140px;
	margin-top: 20px;
	margin-left: 25%;
}

.designer{
	height: auto;
	width: 57%;
	color: gray;
	margin-left: 2%;
	display: inline-block;
}
span.name {
	font-size: 43px;
	font-family: "Arial Black",Arial;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	display: block;
	width: 100%;
}
span.designer {
	font-size: 25px;
  	font-family: "MyriadPro";
  	color: rgb(239, 67, 63);
  	line-height: 1.2;
  	text-align: left;
  	width: 100%;
}
.col{
	margin-left: 5%;
	display: inline-block;
	margin-bottom: 40px;
}
.col1{
	width: 38%;
	margin-left: 5%;
	display: inline-block;
}
.col_vert_align_tt{
	vertical-align: text-top;
}
.col_vert_align_t{
	vertical-align: top;
}
.col2{
	width: 45%;
}

.cell{
	display: table-cell;
}

.header{
	font-size: 14px;
	height: 20px;
	background-color: rgb(219, 219, 219);
}


.header span{
	margin: 20px;
	text-align: left;
}

.personal_data{
	margin-top: -50px;
}

.personal_data_content{	
	margin-top: 18px;
}

.personal_data_content ul{	
	padding: 0px;
	margin: 0px;
}

.personal_data_content li{
	display: inline;
	list-style-type: none;
	width: 60%;
}
.personal_data_content li:first-child{
	width: 40%;
	font-family: "Arial Black";
	font-size: 12px;
	float: left;
}

.about{

}

.about_content{
	margin-top: 4px;
	font-family: Adelle;
}

.about_content p{
	margin: 0px;
}

.education{

}

.education_content{
	font-size: 20px;
}

.education_content ul:first-child{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/*.education_content li:first-of-type{
	margin-top: 20px;
}*/

.education_content li span{
	width: 40%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.educ{
	width: 50%;
	display: inline-block;
}

.square_block{
	display: inline-block;
	vertical-align: top;
	width: 26px;
}

.square{
	width: 18px;
    height: 18px;
    margin: 9px 0px 0px 13px;
    background: red;
/* Rotate */
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
/* Rotate Origin */
    -webkit-transform-origin: 0 100%;
    -moz-transform-origin: 0 100%;
    -ms-transform-origin: 0 100%;
    -o-transform-origin: 0 100%;
    transform-origin: 0 100%;
}


.work{

}

.work_content{
	font-size: 20px;
}

.work_content ul:first-child{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/*.education_content li:first-of-type{
	margin-top: 20px;
}*/

.work_content li span{
	width: 40%;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.w  li p {
	margin: 0px;
}

.w{
	width: 50%;
	display: inline-block;
}

.sills{
}

.skills_content{
	font-family: "Arial Black";
}

.skills_content ul{
	list-style-type: none;
	padding: 0px;
}
.skills_content li span{
	width: 48%;
	text-align: left;
	display: inline-block;
	vertical-align: text-bottom;
}

.skills_content li{
	margin-top: 10px;
}
.skills_content li:nth-child(5n){
	margin-top: 25px;
}

.skills_block_main{
	display: inline-block;
	width: 50%;
	height: 25px;
	background-color: rgb(219, 219, 219); 
}

.index{
	height: 25px;
	background-color: red;
}

.leadership{
	width: 60%;
}
.management{
	width: 95%;
}
.writing{
	width: 55%;
}
.teamwork{
	width: 100%;
}


