body{
	margin: 0px;
}

.main{
	margin: 60px 0 0;
	width: 60%;
	float: left;
	font-size: 0px;

}
.squareRed{
	background-color: red;
	width: 40%;
	display: inline-block;
	line-height: 100px;
}
.squareWhite{
	background-color: white;
	height: 200px;
	width: 200px;
	margin: 20px 0px 20px 74px;
}

.designer{

	width: 58%;
	color: gray;
	margin-left: 2%;
	display: inline-block;
	vertical-align: bottom;
}
.designer ul{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.designer .name {
	font-size: 56px;
	font-family: "Arial Black",Arial;
	color: rgb(0, 0, 0);
	line-height: 1.2;
	text-align: left;
	display: block;
	width: 100%;
}
.designer .des {
	font-size: 44px;
  	font-family: "MyriadPro";
  	color: rgb(239, 67, 63);
  	line-height: 1.2;
  	text-align: left;
  	width: 100%;
}
.col{
	margin-left: 5%;
	margin-bottom: 40px;
}
.col1{
	width: 30%;
	margin-left: 5%;
	display: inline-block;
}
.col_vert_align_tt{
	margin-top: 195px;	
	vertical-align: text-top;
}
.col_vert_align_t{
	vertical-align: top;
}
.col2{
	float: left;
	width: 55%;
}

.cell{
	display: table-cell;
}

.header{
	font-family: Georgia;
	font-size: 14px;
	height: 23px;
	background-color: rgb(219, 219, 219);
}


.header span{
	margin: 20px;
	text-align: left;
}

.personal_data{

}

.personal_data_content{	
	margin-top: 18px;
}

.table{
	width: 100%;
	display: table;
}

.table .row{
	display: table-row;
}

.table .cell{
	display: table-cell;
	line-height: 1.2;
}

.personal_data_content .row :last-child{
	font-size: 19px;
	font-family: Garamond;
	width: 60%;
}

.personal_data_content .row :first-child{
	width: 40%;
	font-family: "Arial Black";
	font-size: 17px;
}

.about{

}

.about_content{
	margin-top: 4px;
	font-size: 18px;
	font-family: Georgia;
}

.about_content p{
	margin: 0px;
}

.education{

}

.education_content{
	margin: 15px 0 20px 0;
	font-size: 0px;

}

.education_content ul:first-child{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

.margin{
	margin-top: 30px;
}

/*.education_content li:first-of-type{
	margin-top: 20px;
}*/


.education_content li span{
	width: 40%;
	font-size: 18px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.educ{
	width: 50%;
	font-size: 18px;
	display: inline-block;
}

.square_block{
	display: inline-block;
	vertical-align: top;
	width: 10%;
}

.square{
	width: 18px;
    height: 18px;
    margin: 6px 0px 0px 13px;
    background: red;

    transform: rotate(-45deg);

    transform-origin: 0 100%;
}


.work{

}

.work_content{
	margin: 15px 0;
	font-size: 0px;
}

.work_content ul:first-child{
	padding: 0px;
	margin: 0px;
	list-style-type: none;
}

/*.education_content li:first-of-type{
	margin-top: 20px;
}*/

.work_content li span{
	width: 35%;
	font-size: 20px;
	text-align: center;
	display: inline-block;
	vertical-align: top;
}

.st_company{
	font-size: 19px;
	color: red;
}
.st_job{
	font-size: 19px;
	font-family: Arial;
}
.st_descr{
	font-size: 18px;
	font-family: Georgia;
	color: #706C6C;
	margin: 0px;
}

.w{
	font-size: 20px;
	width: 55%;
	display: inline-block;
}

.sills{
}

.skills_content{
	margin: 30px 0 0;
	font-family: "Arial Black";
	font-size: 12px;
}

.skills_content ul{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}
.skills_content li span{
	width: 48%;
	text-align: left;
	display: inline-block;
	vertical-align: text-bottom;
}

.skills_content li{
	margin-top: 10px;
}
.skills_content li:nth-child(4n+1){
	margin-top: 25px;
}

.skills_block_main{
	display: inline-block;
	width: 50%;
	height: 20px;
	background-color: rgb(219, 219, 219); 
}

.index{
	height: 20px;
	background-color: red;
}

.leadership{
	width: 60%;
}
.management{
	width: 92%;
}
.teamwork{
	width: 100%;
}
.writing{
	width: 55%;
}
.photoshop{
	width: 96%;
}
.html{
	width: 57%;
}
.javascript{
	width: 67%;
}
.dreamweaver{
	width: 80%;
}
.logic{
	width: 100%;
}
.artistic{
	width: 53%;
}
.teamworks{
	width: 94%;
}
.intuition{
	width: 98%;
}
